<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.engine.dao.ConsoleTenantComponentDao">

    <sql id="select_content_fragment">
      id,
      tenant_id,
      cluster_id,
      component_name,
      component_type_code,
      component_config,
      gmt_create,
      gmt_modified,
      is_deleted
    </sql>

    <sql id="update_fragment">
        <set>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="componentConfig != null">
                component_config = #{componentConfig},
            </if>
            gmt_modified =now()
        </set>
    </sql>

    <select id="getOneById" resultType="com.dtstack.engine.po.ConsoleTenantComponent">
        SELECT
        <include refid="select_content_fragment"/>
        FROM console_tenant_component
        WHERE id = #{id} AND is_deleted = 0
    </select>

    <select id="getByTenantIdAndClusterIdAndComponentTypeCode" resultType="com.dtstack.engine.po.ConsoleTenantComponent">
        SELECT
        <include refid="select_content_fragment"/>
        FROM console_tenant_component
        WHERE tenant_id = #{tenantId}
        AND cluster_id = #{clusterId}
        <if test="componentTypeCode != null">
            AND component_type_code = #{componentTypeCode}
        </if>
        AND is_deleted = 0
    </select>

    <insert id="insert" parameterType="com.dtstack.engine.po.ConsoleTenantComponent" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO console_tenant_component(tenant_id,
                                             cluster_id,
                                             component_name,
                                             component_type_code,
                                             component_config)
        VALUES (#{tenantId},
                #{clusterId},
                #{componentName},
                #{componentTypeCode},
                #{componentConfig})
    </insert>


    <update id="update">
        UPDATE console_tenant_component
        <include refid="update_fragment"/>
        WHERE id = #{id} AND is_deleted = 0
    </update>


</mapper>
