<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.engine.dao.ScheduleJobResourceFileDao">


    <sql id="select_content_fragment">
        id,
        job_id,
        type,
        job_resource_files,
        gmt_create,
        gmt_modified,
        is_deleted
    </sql>


    <insert id="insert" parameterType="com.dtstack.engine.po.ScheduleJobResourceFile" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO schedule_job_resource_file(job_id, type, job_resource_files)
        VALUES (#{jobId}, #{type}, #{jobResourceFiles})
    </insert>

    <delete id="deleteByJobIdAndType">
        DELETE FROM schedule_job_resource_file WHERE job_id = #{jobId} AND type = #{type}
    </delete>


    <select id="getByJobId" resultType="com.dtstack.engine.po.ScheduleJobResourceFile">
        SELECT <include refid="select_content_fragment"/>
        FROM schedule_job_resource_file
        WHERE job_id = #{jobId}
        AND is_deleted = 0
    </select>

</mapper>
